:root {
    --text-color: #FE1936;
    --btn-color: #D93F3F;
    --backGround-color: rgba(255, 255, 255, 0.49);
}
.pokedex_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pokedex_text_intro {
    margin-top: 180px;
    color: var(--text-color);
    font-size: 3.5rem;    
  }
  .pokedex_img {
    margin-top: 10px;
    width: 290px;
    height: 50px;
    background-image: url("/pokedex.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pokedex_img:hover {
    transform: scale(1.1);
  }
  .pokedex_text {
    margin-top: 30px;
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .pokedex_star {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .pokedex_form_container {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pokedex_form_container input {
    padding: 7px 8px;
    border: grey solid 0.2px;
    border-right: none;
    border-radius: 5px 0 0 5px;
    box-shadow: 3px 4px 4px 0 grey;
  }
  .pokedex_form_container button {
    padding: 8px 8px;
    border: none;
    box-shadow: 3px 4px 4px 0 grey;
    background-color: var(--btn-color);
    color: white;
    font-weight: bold;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  .pokedex-footer__img {
    margin-top: 250px;
    width: 100%;
    height: 80px;
    background-image: url("/pokedexfotter.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

@media(min-width: 500px) {
    

}