.pokedex_search_cotainer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pokedex-header-container {
    width: 100%;
    height: 50px;
    background-image: url("/pokedexheader.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pokedex-name {
    position: absolute;
    left: 20px;
    width: 200px;
    height: 30px;
    background-image: url("/public/pokedex.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}