.pokedex_search_cotainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .pokedex-header-container {
    position: static;
    width: 100%;
    height: 52px;
    background-image: url("/pokedexheader.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .pokedex-name {
    position: absolute;
    top: 2px;
    left: 20px;
    width: 200px;
    height: 27px;
    background-image: url("/pokedex.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pokedex-name:hover {
    transform: scale(1.1);
  }
  .pokedex_search_cotainer h1 {
    font-size: 5rem;
    font-weight: bold;
    color: var(--btn-color);
  }
  .pokedex_search_form {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pokedex_search_form input {
    padding: 7px 8px;
    border: grey solid 0.2px;
    border-right: none;
    border-radius: 5px 0 0 5px;
    box-shadow: 3px 4px 4px 0 grey;
  }
  .pokedex_search_form button {
    padding: 8px 8px;
    border: none;
    box-shadow: 3px 4px 4px 0 grey;
    background-color: var(--btn-color);
    color: white;
    font-weight: bold;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  .select-container {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--btn-color);
    color: white;
    font-weight: bold;
    box-shadow: 3px 4px 4px 0 grey;
    cursor: pointer;
  }
  .select-container:hover {
    transform: scale(1.1)
  }
.pokeCard-containe {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
  
@media(min-width: 500px) {
    .pokedex-header-container {
        height: 100px;
    }
    .pokedex-name {
        top: 15px;
        width: 250px;
        height: 45px;
    }
    .pokedex_search_cotainer p {
        font-size: 3rem;
    }
    .pokeCard-containe {
        margin-top: 30px;
    }
    .pokedex_search_form {
        justify-content: flex-start;
        padding-left: 70px;
    }
    .pokedex_search_form input {
        position: relative;
        width: 250px;
    }
    .select-container {
        position: relative;
        bottom: 45px;
        left: 200px;
    }
}
@media(min-width: 800px) {
    .pokedex-header-container {
        height: 155px;
    }
    .pokedex-name {
        top: 45px;
        width: 250px;
        height: 45px;
    }
    .pokedex_search_form {
        padding-left: 150px;
    }
}
@media(min-width: 1100px) {
    .pokedex-header-container {
        height: 185px;
    }
    .pokedex-name {
        top: 60px;  
    }
    .select-container {
        left: 350px;
    }
}