.pokeCard-container {
    border: 1px solid black;
    width: 100%;
    min-height: 300px;
    margin-top: 50px;
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.card_container {
    border: 1px solid black;
    width: 240px;
    height: 320px;
    border-radius: 10px;
}
.header_card_img {
    border: 1px solid black;
    width: 160px;
    height: 145px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_card_img img {
    width: 150px;

}