/*pokedex segunda pagina*/
.pokedex_search_cotainer {
    border: 1px solid black;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pokedex-header-container {
    position: static;
    width: 100%;
    height: 51px;
    background-image: url("/pokedexheader.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pokedex-name {
    position: absolute;
    left: 20px;
    width: 200px;
    height: 30px;
    background-image: url("/pokedex.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pokedex_search_cotainer p {
    font-size: 2rem;
    font-weight: bold;
}
.pokedex_search_form {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokedex_search_form input {
    padding: 7px 8px;
    border: grey solid 0.2px;
    border-right: none;
    border-radius: 5px 0 0 5px;
    box-shadow: 3px 4px 4px 0 grey;
}
.pokedex_search_form button {
    padding: 8px 8px;
    border: none;
    box-shadow: 3px 4px 4px 0 grey;
    background-color: var(--btn-color);
    color: white;
    font-weight: bold;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.select-container {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--btn-color);
    color: white;
    font-weight: bold;
    box-shadow: 3px 4px 4px 0 grey;
    cursor: pointer;
}
.select-container:hover {
    transform: scale(1.1)
}

@media(min-width: 500px) {
    .pokedex-header-container {
        height: 100px;
    }
    .pokedex-name {
        left: 30px;
        top: 18px;
        width: 250px;
        height: 40px;
    }
    .pokedex_search_cotainer p {
        font-size: 3rem;
    }
    .pokedex_search_form {
        position: relative;
        justify-content: flex-start;
        padding-left: 70px;

    }
    .pokedex_search_form input {
        width: 300px;
    }
    .select-container {
        position: absolute;
        top: 153px;
        right: 100px;
    }

}
@media(min-width: 800px) {
    .pokedex-header-container {
        height: 150px;
    }
    .pokedex-name {
        left: 70px;
        top: 38px;
        width: 300px;
        height: 50px;
    }
    
    .pokedex_search_form {  
        padding-left: 200px;
    }
    .select-container {
        top: 203px;
        right: 250px;
    }

}
@media(min-width: 1100px) {
    .pokedex-header-container {
        height: 180px;
    }
    .pokedex-name {
        top: 50px;
    }
    .select-container {
        top: 233px;
        right: 280px;
    }

}

