@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,500;9..40,600;9..40,700&family=Inter:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
}
body {
    background-color: rgba(255, 255, 255, 0.49);
}
ul {
    list-style: none;
}

/*card*/

.pokeCard-container {
    width: 70%;
    min-height: 300px;
    margin-top: 120px;
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.card_container {
    border: 1px solid black;
    position: relative;
    width: 240px;
    height: 320px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.header_card_img {
    position: absolute;
    top: 0;
    width: 125px;
    height: 140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_card_img img {
    width: 130px;
    aspect-ratio: 1;
}
.card_section_container {
    position: relative;
    margin-bottom: 10px;
    width: 90%;
    height: 230px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.card_section_container h3 {
    position: absolute;
    top: 55px;
    font-size: 2.5rem;
}
.card_list_type {
    position: absolute;
    top: 85px;
    font-size: 1.4rem;
    display: flex;
}
.card_list_move {
    border-top: 2px solid gray;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    text-align: center;
    align-items: center;
}
.card_move_name {
    color: grey;
    font-weight: bold;
}
.card_move_num {
    font-size: 2rem;
    font-weight: bold;
}

@media(min-width: 500px) {
    .pokeCard-container{
        width: 90%;
    }

}
@media(min-width: 800px) {
    .pokeCard-container{
        width: 90%;
    }

}
@media(min-width: 1100px) {
    .pokeCard-container{
        width: 80%;
    }

}
