@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,500;9..40,600;9..40,700&family=Inter:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    
}
html {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
}
body {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, p, ul, hr {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    padding-left: 0;
    list-style: none;
}
img {
    width: 100%;
    display: block;
}
input {
    font-family: inherit;
    outline: none;
    border: none;
}
button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

