.pokecard {
    width: 60%;
    max-width: 350px;
    border-radius: 0.7em;
    border: 0.5em solid #ccc;
    cursor: pointer;
    transition: transform 150ms ease;
}
.pokecard:hover {
    transform: scale(1.03);

}
.pokecard__header {
    background-color: #999;
    aspect-ratio: 2; /*el ancho es el doble que el alto*/
    position: relative;
}
.pokecard__image {
    position: absolute;
    width: 60%;
    left: 50%; /*la mitad del contenedor*/
    transform: translateX(-50%); /*la mitad del mismo elemento*/
    top: 1.5em;
}
.pokecard__body {
    padding: 3.5em 1em 2em;
}
.pokecard__name {
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.2em;

}
.pokecard__types {
    display: flex;
    justify-content: center;
    gap: 0.7em;
    margin-bottom: 1em;
}
.pokecard__typename{
    text-transform: capitalize;
}
.pokecard__typename:nth-child(2)::before { /*escogemos el segundo elemento para ponerle el "/"*/
    content: "/";
    padding-right: 0.5em;
}
.pokecard__hr {
    margin-bottom: 1em;
    border: 1px solid #ccc;
}
.pokecard__stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1em 0.5em;
}
.pokecard__stat {
    display: grid;
    gap: 0.4em;
    justify-items: center;
    
}
.pokecard__stat__name {
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;

}
.pokecard__stat__value {
    font-weight: bold;
    font-size: 1.5rem;
}
@media(min-width: 500px) {
    .pokecard {
        width: 30%;
    }
}
@media(min-width: 800px) {
    .pokecard {
        width: 20%;
    }
}
.fire-gradient {
    background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}
.fire-border {
   border-color: #b95835 ; 
}
.fire-color {
    color: orange;

}
.grass-gradient {
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}
.water-gradient {
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);

}
.normal-gradient {
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}
.fighting-gradient {
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);

}
